// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;

$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #FFB651;
$yellow: #FEE161;
$rose: #F08787;
$light: #FCF8F3;
