// Specific CSS for your home-page
.img-home2 img {
  position: absolute;
  left: -60px;
  top: 120px;
  width: 170px;
  margin-left: 100px;
}

.img-home-beers {
  width: 150px;
  padding-bottom: 20px;
}

.consigne p strong {
  color: #FFB651;
}

.statistiques {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.statistiques h1 {
  padding-top: 40px;
  color: #F08787;
  font-weight: bold;
}

.statistiques p {
  font-weight: medium;
  font-size: 21px;
}
