.img-home img {
  position: absolute;
  left: -60px;
  top: 85px;
  width: 300px;
  margin-left: 100px;
}

.img-home2 img {
  position: absolute;
  left: -60px;
  top: 120px;
  width: 250px;
  margin-left: 100px;
}
