.dash-edit {
  text-align: end;
  margin: -12px;
  position: relative;
  right: 12px;
  top: 9px;
}

.icone-cards {
  position: relative;
  right: -20px;
  top: -24px;
  margin-left: -30px
}

.nav-pills .nav-link {
    color: orange;
    text-decoration: none;
    background-color: white;
}

.nav-pills .pills-left {
  border-radius: 28px 0px 0px 28px;
}

.nav-pills .pills-right {
  border-radius: 0px 28px 28px 0px;
}

.nav-pills .nav-link:hover {
  color: orange;
  text-decoration: none;
}

.nav-pills .nav-link {
  opacity: 0.6;
}

.nav {
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: orange;
  opacity: 1;
}

.card-title {
  font-weight: bold;
  margin-bottom: 0px;
}

.card-categ {
  font-size: 12px;
}

.card-quantity {
  background-color: orange;
  color: white;
  border-radius: 28px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 0px;
}

.card-price {
  margin-bottom: 0px;
}

.beers-card-infos p {
  margin-bottom: 5px;
}
