<h1>Les bars</h1>
<div class="row">
  <% @bars.each do |bar| %>
    <div class="col-12">
      <div class="card">
        <%= link_to bar_path(bar), class: 'link' do %>
          <%= bar.name %>
          <%= bar.address %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
