  <div class="mymodal" tabindex="-1">
    <div class="mymodal-dialog" >
      <div class="mymodal-content">
        <i class="fas fa-times btn-close myclose-button"></i>

        <h4><strong><%=@bar_beers  %></strong></h4>
        <p>Blonde, 7°</p>
        <p class="p-description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <div > Ajouter au panier</div>
      </div>
  </div>
</div>