<h1>Les bières à sauver de ce bar </h1>
<%# Je veux afficher uniquement les bar_beer du bar_id choisi(dans le path) %>
<% @bar_beers.each do |bar_beer| %>
  <li>
  <% if bar_beer.quantity >0 %>
  <%= bar_beer.beer.name %>
  <% else %>
  <%end%>
  </li>
<% end %>