<div class="container elmt-center">
  <div style="margin: 50px"></div>

<%= simple_form_for [@bar, @bar_beer] do |f| %>
<div style="margin: 20px">
  <input name="beer_name" type="search" class="input-style" placeholder="Nom"/>
 </div>

<div style="margin: 20px">
<%= f.input :quantity, input_html: { class: "input-style", placeholder:"Combien de litres veux-tu sauver ?"} %>
</div>

<div style="margin: 20px">
<%= f.input :selling_price, input_html: { class: "input-style", placeholder:"À quel prix ?" } %>
</div>

<div style="margin: 20px">
<%= f.button :submit, "Créer ma nouvelle bière", { class: "btn-gradient-rose" } %>
</div>

<% end %>

  <div style="margin: 50px"></div>
</div>
