<h1>Pages#home</h1>

<%= link_to 'Home', root_path, class: "btn-gradient-rose" %>
<%= link_to 'Home', root_path, class: "btn-gradient-jaune" %>

<p>Test CLOUDINARY</p>
<%= cl_image_tag("https://res.cloudinary.com/dduubmloj/image/upload/v1624020568/brice-de-nice_nchald.webp",
      width: 400, height: 300, crop: :fill) %>

