

<div class="container">
      <%= link_to 'Home', root_path, class: "btn-gradient-rose" %>
      <%= link_to 'Home', root_path, class: "btn-gradient-jaune" %>
      <%= link_to '', root_path, class: "fas fa-plus-circle btn-rose" %>
      <%= link_to '', root_path, class: "fas fa-plus-circle btn-jaune" %>

      <i class="fas fa-plus btn-rose"></i>
      <i class="fas fa-minus btn-rose"></i>
      <i class="fas fa-times btn-jaune"></i>
      <i class="fas fa-check-circle btn-valid-rose btn-large"></i>
      <i class="fas fa-times-circle btn-pending-jaune btn-large"></i>
      <i class="fas fa-edit btn-jaune"></i>
      <i class="fas fa-chevron-left btn-arrow-grey"></i>
      <i class="fas fa-chevron-left btn-arrow-white"></i>
</div>


