.beers-card {
  background-color: white;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 28px;
}

.bannerbeer {
  background-size: cover;
  background-position: center;
  margin-top: -100px;
  height: 280px;
  width: 100%;
//   border-radius: 0px 0px 0px 28px;//
}

.beers-card-infos {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.avatar-bar {
  position: absolute;
  left: 30px;
  top: 185px;
}

.title-bar {
  position: absolute;
  left: 140px;
  top: 210px;
  color: white;
}

.address-bar {
  position: absolute;
  left: 165px;
  top: 253px;
}

.img-bar {
  position: absolute;
  left: 140px;
  top: 250px;
  width: 15px;
}

.link {
  color: black;
}

.link:hover {
  color: black;
  text-decoration: none;
}
