.card {
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

.image {
  height: 50px;
  width: 414px
}
.bannerbeer {
  background-size: cover;
  background-position: top;
  margin-top: -100px;
  height: 216px;
}
.avatar-large {
  position: relative;
  width: 76px;
  border-radius: 50%;
}