.btn-gradient-rose {
  color: white;
  padding: 12px 32px;
  border-radius: 28px;
  background: linear-gradient(#FFC6A1, #F08787);
  transition: background 0.3s ease;
}

.btn-gradient-rose:hover {
  background: linear-gradient(#f2bc9b, #e58080);
  color: white;
  text-decoration: none;
}

.btn-gradient-jaune {
  color: white;
  padding: 12px 32px;
  border-radius: 28px;
  background: linear-gradient(#FEE061, #FFB651);
  transition: background 0.3s ease;
}

.btn-gradient-jaune:hover {
  background: linear-gradient(#f2d45c, #f4ab4b);
  color: white;
  text-decoration: none;
}

