.navbar-app {
  justify-content: space-around;
  background: white;
}

.navbar-nav img {
  height: 50px;
}

.navbar-nav .nav-link {
  color: black;
}

.nav-link {
  opacity: 0.3
}

.nav-link.active {
  opacity: 1;
}

