.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 100vh;
}

.input-style {
    border-radius: 28px;
    padding: 6px;
    text-align: center;
    border: 1px solid;
    width: 100%;
}

[type="search"] {
    outline-offset: 0px;
    border-radius: 28px;
}

.section *, *::before, *::after {
    width: 100%;
}
